/*
font-family: 'Open Sans', sans-serif;
300 light
400 normal
600 semi-bold
700 bold
800 extra bold
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #636363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #636363; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

UL, OL {
  margin: 0 0 0 0.7em;
  padding: 0 0 0 0.7em;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

A.button:link,
A.button:visited {
  display: inline-block;
  background: #139AD2;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1em;
  border-radius: 25px;
  padding: 0.4em 1.2em;
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  letter-spacing: 0.15em;
}

A.button:hover,
A.button:active {
  background: #112C37;
  color: #FFFFFF;
}

A.learnmore:after {
  font-family: FontAwesome;
  content: '\f175';
  margin-left: 0.7em;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}

A.watchvideo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1em;
}

A.watchvideo:after {
  font-family: FontAwesome;
  content: '\f01d';
  margin-left: 0.25em;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  top: 0.06em;
  color: #112C37;
}

.kf-header {
  background: linear-gradient(90deg, #FFFFFF 50%, #ED1C24 50%);
}

.logo {
  float: left;
  width: 19.8%;
  padding-right: 2.7%;
  height: 105px;
}

.logo IMG {
  height: auto;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#show-menu,
#menu-toggle,
#scrolling-show-menu,
#scrolling-menu-toggle {
  display: none;
}

.menu {
  float: right;
  width: 77.5%;
  height: 105px;
  line-height: 105px;
  text-align: right;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #0E8DC8;
  
}

.menu UL:after {
  content: "";
  display: table;
  clear: both;
}

.menu UL LI {
  display: inline-block;
  padding-left: 6%;
}

.menu UL LI:first-child {
  padding-left: 0;
}

.menu UL LI.incrisis {
  position: absolute;
  top: 0;
  left: calc(50% + 500px);
  padding-left: 0;
  background: linear-gradient(120deg, #0E8DC8 50%, #ED1C24 50%);
}

.menu UL LI.incrisis A {
  position: relative;
  left: 4.5em;
}

.menu UL LI A:link,
.menu UL LI A:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 15.5px;
  line-height: 1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.menu UL LI:hover A,
.menu UL LI A:hover,
.menu UL LI A:active {
  color: #112C37;
}

.menu UL LI UL {
  position: absolute;
  top: 105px;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(255,255,255,0.9);
  line-height: 1em;
  text-align: center;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  opacity: 0;
  transition: all 0.5s;
}

.menu UL LI:hover UL {
  opacity: 1;
}

.menu UL LI UL LI,
.menu UL LI UL LI:first-child {
  padding: 1.4em 2%;
}

.menu UL LI UL LI A:link,
.menu UL LI UL LI A:visited {
  color: #0E8DC8;
}

.menu UL LI UL LI A:hover,
.menu UL LI UL LI A:active {
  color: #112C37;
}

.home-banner {
  position: relative;
}

.home-banner .home-banner-slide {
  height: 700px;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
}

.home-banner .home-banner-slide .site-width {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.home-banner .home-banner-slide .site-width H1 {
  font-weight: 800;
  font-size: 65px;
  line-height: 1.2em;
  margin: 0 0 2em;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.home-banner A.button {
  margin-right: 5%;
}

.home-banner A.learnmore:link,
.home-banner A.learnmore:visited {
  color: #FFFFFF;
}

.home-banner A.learnmore:hover,
.home-banner A.learnmore:active {
  color: #139AD2;
}

.menu-holder {
  height: 82px;
}

.scrolling-menu {
  background: linear-gradient(90deg, #F8F8F8 50%, #0E8DC8 50%);
  position: relative;
}

.scrolling-menu.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}

.scrolling-menu .logo {
  width: 12.3%;
  padding-right: 2.6%;
  height: 82px;
}

.scrolling-menu .menu {
  width: 85.1%;
  height: 82px;
  line-height: 82px;
}

.scrolling-menu .menu UL LI,
.scrolling-menu .menu UL LI.incrisis {
  padding-left: 5.5%;
}

.scrolling-menu .menu UL LI:first-child {
  padding-left: 0;
}

.scrolling-menu .menu UL LI.incrisis {
  position: static;
  background: transparent;
}

.scrolling-menu .menu UL LI.incrisis A:link,
.scrolling-menu .menu UL LI.incrisis A:visited {
  left: 0;
  color: #052838;
}

.scrolling-menu .menu UL LI.incrisis A:hover,
.scrolling-menu .menu UL LI.incrisis A:active {
  color: #FFFFFF;
}

.scrolling-menu .menu UL LI A:link,
.scrolling-menu .menu UL LI A:visited {
  font-weight: bold;
  font-size: 14.5px;
}

.scrolling-menu .menu UL LI UL {
  top: 82px;
}

.home-mission {
  background: linear-gradient(90deg, #FFFFFF 50%, #F1F2F2 50%);
}

.home-mission .site-width {
  background: linear-gradient(90deg, #FFFFFF 56.2%, #F1F2F2 43.8%);
  padding: 4em 0;
}

.home-mission .home-mission-left {
  float: left;
  width: 56.2%;
  box-sizing: border-box;
  padding-right: 5.2%;
  text-align: right;
  font-size: 22px;
  line-height: 1.8em;
}

.home-mission .home-mission-right {
  float: right;
  width: 43.8%;
  box-sizing: border-box;
  padding: 2em 0 0 7.9%;
}

.home-mission .home-mission-left H1 {
  margin: 0 0 0.75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 1em;
  color: #112C37;
}

.home-mission .home-mission-left STRONG {
  color: #139AD2;
}

.home-mission .home-mission-left A.learnmore:link,
.home-mission .home-mission-left A.learnmore:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #112C37;
}

.home-mission .home-mission-left A.learnmore:after,
.home-mission .home-mission-left A.learnmore:hover,
.home-mission .home-mission-left A.learnmore:active {
  color: #139AD2;
}

.home-mission .home-mission-right UL {
  margin-top: 2em;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 22px;
}

.home-mission .home-mission-right LI {
  padding-bottom: 1em;
}

.home-mission .home-mission-right LI:before {
  font-family: FontAwesome;
  content: '\f10c';
  font-size: 0.4em;
  font-weight: bold;
  position: relative;
  top: -0.5em;
  left: -2em;
  color: #139AD2;
  margin-right: -0.8em;
}

.home-mission .home-mission-right A.button:link,
.home-mission .home-mission-right A.button:visited {
  background: #112C37;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.home-mission .home-mission-right A.button:hover,
.home-mission .home-mission-right A.button:active {
  background: #139AD2;
}

.home-projects {
  background: url(../images/home-projects.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.8em;
  padding: 4em 0;
}

.home-projects H1 {
  margin: 0 0 0.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 85px;
  line-height: 1em;
}

.home-projects A.button:link,
.home-projects A.button:visited {
  background: #112C37;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  letter-spacing: normal;
  padding: 0.6em 1.2em;
  margin: 3em 2em 0 0;
}

.home-projects A.button:hover,
.home-projects A.button:active {
  background: #FFFFFF;
  color: #112C37;
}

.home-projects A.watchvideo:link,
.home-projects A.watchvideo:visited {
  color: #FFFFFF;
}

.home-projects A.watchvideo:hover,
.home-projects A.watchvideo:active {
  color: #112C37;
}

.home-event {
  position: relative;
}

.home-event-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 54.5%;
  background: url(../images/home-event.jpg) no-repeat center right;
  background-size: cover;
}

.home-event .site-width {
  position: relative;
  z-index: 2;
}

.home-event-left {
  float: left;
  width: 56.2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.home-event-left A:link,
.home-event-left A:visited {
  font-size: 87px;
  line-height: 1em;
  color: rgba(255,255,255,0.9);
  border: 22px solid #FFFFFF;
  border-color: rgba(255,255,255,0.75);
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.25em;
}

.home-event-left A .fa {
  position: relative;
  left: 0.1em;
}

.home-event-left A:hover,
.home-event-left A:active {
  color: rgba(14,141,200,0.9);
  border-color: rgba(14,141,200,0.75);
}

.home-event-right {
  float: right;
  width: 43.8%;
  box-sizing: border-box;
  padding: 3em 0 2.5em 4.4%;
  background: #FFFFFF;
  line-height: 1.8em;
}

.home-event-right IMG {
  max-width: 100%;
  height: auto;
}

.home-event-right H3,
.home-event-right H4 {
  margin: 0 0 0.25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1em;
  color: #112C37;
}

.home-event-right H4 {
  font-weight: bold;
  font-size: 24px;
}

.home-event-right A.button:link,
.home-event-right A.button:visited {
  background: #6B4099;
  font-size: 17px;
  padding: 0.8em 1.2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 2em;
}

.home-event-right A.button:hover,
.home-event-right A.button:active {
  background: #112C37;
}

.home-event-right A.more:link,
.home-event-right A.more:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 1em;
  color: #112C37;
}

.home-event-right A.more:hover,
.home-event-right A.more:active {
  color: #6B4099;
}

.home-foundation {
  background: url(../images/home-foundation.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 18px;
  position: relative;
}

.home-foundation-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 100%;
}

.home-foundation-arrow-mask {
  height: 100%;
  background: url(../images/home-foundation.jpg) no-repeat center bottom;
  -webkit-clip-path: polygon(calc(38% - 18px) 0, 38% 100%, calc(38% + 18px) 0);
  clip-path: polygon(calc(38% - 18px) 0, 38% 100%, calc(38% + 18px) 0);
}

.home-foundation .hf-image {
  position: absolute;
  bottom: 11%;
  left: 38%;
  transform: translateX(-50%);
}

.home-foundation .hf-image-static { display: none; }

.home-foundation .site-width {
  padding: 4em 0;
}

.home-foundation-left {
  float: left;
  width: 45%;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 1.1em;
  color: #139AD2;
}

.home-foundation-right {
  float: right;
  width: 48.5%;
  font-size: 22px;
  line-height: 2em;
  color: #FFFFFF;
}

.home-foundation-right A.button:link,
.home-foundation-right A.button:visited {
  background: #FFFFFF;
  color: #4FC3F1;
  font-size: 16px;
  padding: 0.9em 1.2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  letter-spacing: 0.1em;
}

.home-foundation-right A.button:hover,
.home-foundation-right A.button:active {
  background: #4FC3F1;
  color: #FFFFFF;
}

.home-foundation-arrow,
.home-join {
  background: #0B7BC0;
}

.home-join .site-width {
  text-align: center;
  font-size: 17px;
  line-height: 1em;
  color: #FFFFFF;
  padding: 1.5em 0 2.3em;
}

.home-join .site-width H2 {
  margin: 0 0 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 55px;
  line-height: 1em;
}

.home-join .site-width A:link,
.home-join .site-width A:visited {
  color: #FFFFFF;
}

.home-join .site-width A:hover,
.home-join .site-width A:active {
  color: #112C37;
}

.kf-footer {
  padding: 3em 0;
  text-align: center;
}

.social A:link,
.social A:visited {
  display: inline-block;
  width: 53px;
  height: 53px;
  box-sizing: border-box;
  border: 5px solid #112C37;
  border-radius: 50%;
  color: #112C37;
  position: relative;
  margin: 0 0.5em;
}

.social A:hover,
.social A:active {
  border: 5px solid #0E8DC8;
  color: #0E8DC8;
}

.social A .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 31px;
}

.footer-menu {
  padding: 2.5em 0;
}

.footer-menu A:link,
.footer-menu A:visited {
  margin: 0 4%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
  color: #25AAE1;
}

.footer-menu A:hover,
.footer-menu A:active {
  color: #112C37;
}

.copyright {
  font-size: 10px;
}


@media only screen and (max-width: 1325px) {
  .menu UL LI { padding-left: 3.5%; }
  .menu UL LI.incrisis { position: static; }
}

@media only screen and (max-width: 1155px) {
  .kf-header {
    background: linear-gradient(90deg, #FFFFFF 50%, #0E8DC8 50%);
  }
  .menu UL LI { padding-left: 6%; }
  .menu UL LI.incrisis { display: none; }
  .scrolling-menu .menu UL LI.incrisis { display: inline-block; }
}

@media only screen and (max-width: 1024px) {
  .site-width { width: 96%; }

  .home-foundation-arrow-mask {
    background: url(../images/home-foundation.jpg) no-repeat center bottom;
    -webkit-clip-path: polygon(calc(32% - 18px) 0, 32% 100%, calc(32% + 18px) 0);
    clip-path: polygon(calc(32% - 18px) 0, 32% 100%, calc(32% + 18px) 0);
  }

  .home-foundation .hf-image {
    bottom: 8%;
    left: 32%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .menu UL LI {
    padding-left: 5%;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited {
    font-size: 15px;
  }

  .scrolling-menu .menu UL LI,
  .scrolling-menu .menu UL LI.incrisis {
    padding-left: 3.7%;
  }

  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    font-size: 12px;
  }

  .home-event-right A.button:link,
  .home-event-right A.button:visited {
    margin-right: 0;
  }

  .home-event-right A.more:link,
  .home-event-right A.more:visited {
    display: inline-block;
    margin-top: 1.5em;
  }

  .home-foundation-arrow-mask {
    background: url(../images/home-foundation.jpg) no-repeat center bottom;
    -webkit-clip-path: polygon(calc(25% - 18px) 0, 25% 100%, calc(25% + 18px) 0);
    clip-path: polygon(calc(25% - 18px) 0, 25% 100%, calc(25% + 18px) 0);
  }

  .home-foundation .hf-image {
    bottom: 11%;
    left: 25%;
  }

  .home-foundation-left {
    font-size: 45px;
  }

  .footer-menu A:link,
  .footer-menu A:visited {
    margin: 0 3.5%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  .kf-header { background: linear-gradient(90deg, #FFFFFF 45%, #0E8DC8 45%); }
  .logo { width: 42%; }

  .scrolling-menu { background: linear-gradient(90deg, #F8F8F8 35%, #0E8DC8 35%); }
  .scrolling-menu .logo { width: 32%; }

  .kf-header .site-width { height: 105px; }
  .scrolling-menu .site-width { height: 82px; }

  #menu-toggle,
  #scrolling-menu-toggle {
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 200%;
    color: #FFFFFF;
    position: relative;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    float: right;
  }

  #menu-toggle:after,
  #scrolling-menu-toggle:after {
    font-family: "FontAwesome";
    content: "\f0c9";
  }
  
  #show-menu:checked + #menu-toggle:after,
  #scrolling-show-menu:checked + #scrolling-menu-toggle:after {
    color: #1E3E4A;
  }

  #show-menu:checked + #menu-toggle + .menu,
  #scrolling-show-menu:checked + #scrolling-menu-toggle + .menu {
    display: block;
  }

  .menu,
  .scrolling-menu .menu {
    display: none;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    line-height: 1em;
    text-align: center;
  }

  .scrolling-menu .menu { top: 82px; }

  .menu UL {
    background: rgba(14,141,200,0.9);
    padding: 1em 0;
  }

  .menu UL LI,
  .menu UL LI.incrisis,
  .menu UL LI UL LI,
  .menu UL LI UL LI:first-child,
  .scrolling-menu .menu UL LI,
  .scrolling-menu .menu UL LI.incrisis {
    display: block;
    padding: 0;
    background: transparent;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited,
  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    display: block;
    font-weight: 800;
    font-size: 270%;
    line-height: 1em;
    padding: 0.4em 0;
    left: 0;
    color: #FFFFFF;
  }

  .menu UL LI.incrisis A:link,
  .menu UL LI.incrisis A:visited {
    color: #052838;
  }

  .menu UL LI A:hover,
  .menu UL LI A:active,
  .menu UL LI UL LI A:hover,
  .menu UL LI UL LI A:active,
  .scrolling-menu .menu UL LI A:hover,
  .scrolling-menu .menu UL LI A:active {
    color: #052838;
  }

  .menu UL LI.incrisis A:hover,
  .menu UL LI.incrisis A:active {
    color: #FFFFFF;
  }
  
  .menu UL LI UL {
    opacity: 1;
    display: none;
  }

  .menu UL LI:hover UL {
    display: block;
    position: static;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .home-banner .home-banner-slide .site-width H1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .home-mission,
  .home-mission .site-width {
    background: #FFFFFF;
    padding: 0;
    width: 100%;
  }

  .home-mission .home-mission-left,
  .home-mission .home-mission-right {
    float: none;
    width: 100%;
    padding: 4em 3%;
    text-align: left;
  }

  .home-mission .home-mission-right {
    background: #F1F2F2;
  }

  .home-event-back {
    width: 100%;
    height: 300px;
  }

  .home-event-left {
    float: none;
    width: 100%;
    height: 300px;
    position: relative;
    transform: none;
  }

  .home-event-left A {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-event-right {
    float: none;
    width: 100%;
    padding: 3em 0;
  }

  .home-event-right A.button:link,
  .home-event-right A.button:visited {
    margin-right: 2em;
  }

  .home-foundation .home-foundation-left,
  .home-foundation .home-foundation-right {
    float: left;
    width: 100%;
    text-align: left;
  }

  .home-foundation .home-foundation-left {
    margin-bottom: 0.5em;
  }

  .home-foundation .hf-image { display: none; }
  .home-foundation .hf-image-static {
    display: block;
    float: left;
    max-width: 100%;
    height: auto;
  }

  .home-foundation-arrow-mask {
    -webkit-clip-path: polygon(calc(29% - 18px) 0, 29% 100%, calc(29% + 18px) 0);
    clip-path: polygon(calc(29% - 18px) 0, 29% 100%, calc(29% + 18px) 0);
  }

  .home-foundation .button {
    float: right;
    margin-top: 130px;
  }

  .footer-menu A:link,
  .footer-menu A:visited {
    margin: 0 2%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .kf-header { background: linear-gradient(90deg, #FFFFFF 73%, #0E8DC8 27%); }
  .logo { width: 70%; }

  .scrolling-menu { background: linear-gradient(90deg, #F8F8F8 62%, #0E8DC8 38%); }
  .scrolling-menu .logo { width: 58%; }

  .home-banner .home-banner-slide .site-width H1 {
    font-size: 48px;
    margin: 0 0 1em;
  }

  .home-banner A.button {
    margin-right: 0;
  }

  .home-banner A.learnmore:link,
  .home-banner A.learnmore:visited {
    display: inline-block;
    margin-top: 1em;
  }

  .scrolling-menu.sticky {
    position: relative;
  }

  .home-mission .home-mission-left H1 {
    font-size: 68px;
  }

  .home-projects H1 {
    font-size: 62px;
  }

  .home-projects A.button:link,
  .home-projects A.button:visited {
    margin: 2em 0;
  }

  .home-projects A.watchvideo.swipebox {
    display: block;
  }

  .home-foundation-left {
    font-size: 45px;
  }

  .home-foundation .hf-image-static {
    float: none;
    margin: 2em auto 0;
  }

  .home-foundation-arrow-mask {
    -webkit-clip-path: polygon(calc(50% - 18px) 0, 50% 100%, calc(50% + 18px) 0);
    clip-path: polygon(calc(50% - 18px) 0, 50% 100%, calc(50% + 18px) 0);
  }

  .home-foundation .button {
    float: none;
    margin-top: 0;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited,
  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    font-size: 220%;
  }
}