/*
font-family: 'Open Sans', sans-serif;
300 light
400 normal
600 semi-bold
700 bold
800 extra bold
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #636363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #636363; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #0E8DC8;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #112C37;
  text-decoration: underline;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

UL, OL {
  margin: 0 0 0 0.7em;
  padding: 0 0 0 0.7em;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

A.button:link,
A.button:visited {
  display: inline-block;
  background: #139AD2;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1em;
  border-radius: 25px;
  padding: 0.4em 1.2em;
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
  letter-spacing: 0.15em;
}

A.button:hover,
A.button:active {
  background: #112C37;
  color: #FFFFFF;
}

A.learnmore { text-decoration: none; }

A.learnmore:after {
  font-family: FontAwesome;
  content: '\f175';
  margin-left: 0.7em;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
}

A.watchvideo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1em;
  text-decoration: none;
}

A.watchvideo:after {
  font-family: FontAwesome;
  content: '\f01d';
  margin-left: 0.25em;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  top: 0.06em;
  color: #112C37;
}

.long-string {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.bluetext { color: #0E8DC8; }

.image-slider {
  overflow: hidden;
  position: relative;
}

.image-slider A.slick-arrow:link,
.image-slider A.slick-arrow:visited {
  position: absolute;
  top: 42%;
  z-index: 1000;
  font-size: 40px;
  line-height: 1em;
  color: rgba(14, 141, 200, 0.6);
  outline: none;
}

.image-slider .prev.slick-arrow {
  left: 1%;
}

.image-slider .next.slick-arrow {
  right: 1%;
}

.image-slider A.slick-arrow:hover,
.image-slider A.slick-arrow:active {
  color: rgba(17, 44, 55, 0.6);
}

.kf-header {
  background: linear-gradient(90deg, #FFFFFF 50%, #ED1C24 50%);
}

.logo {
  float: left;
  width: 19.8%;
  padding-right: 2.7%;
  height: 105px;
}

.logo IMG {
  height: auto;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#show-menu,
#menu-toggle,
#scrolling-show-menu,
#scrolling-menu-toggle {
  display: none;
}

.menu {
  float: right;
  width: 77.5%;
  height: 105px;
  line-height: 105px;
  text-align: right;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #0E8DC8;
  
}

.menu UL:after {
  content: "";
  display: table;
  clear: both;
}

.menu UL LI {
  display: inline-block;
  padding-left: 6%;
}

.menu UL LI:first-child {
  padding-left: 0;
}

.menu UL LI.incrisis {
  position: absolute;
  top: 0;
  left: calc(50% + 500px);
  padding-left: 0;
  background: linear-gradient(120deg, #0E8DC8 50%, #ED1C24 50%);
}

.menu UL LI.incrisis A {
  position: relative;
  left: 4.5em;
}

.menu UL LI A:link,
.menu UL LI A:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 15.5px;
  line-height: 1em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.menu UL LI:hover A,
.menu UL LI A:hover,
.menu UL LI A:active {
  color: #112C37;
}

.menu UL LI UL {
  position: absolute;
  top: 105px;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(255,255,255,0.9);
  line-height: 1em;
  text-align: center;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  opacity: 0;
  transition: all 0.5s;
}

.menu UL LI:hover UL {
  opacity: 1;
}

.menu UL LI UL LI,
.menu UL LI UL LI:first-child {
  padding: 1.4em 2%;
}

.menu UL LI UL LI A:link,
.menu UL LI UL LI A:visited {
  color: #0E8DC8;
}

.menu UL LI UL LI A:hover,
.menu UL LI UL LI A:active {
  color: #112C37;
}

.home-banner {
  position: relative;
}

.home-banner .home-banner-slide {
  height: 700px;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.55);
}

.home-banner .home-banner-slide .site-width {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.home-banner .home-banner-slide .site-width H1 {
  font-weight: 800;
  font-size: 65px;
  line-height: 1.2em;
  margin: 0 0 2em;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.home-banner A.button {
  margin-right: 5%;
}

.home-banner A.learnmore:link,
.home-banner A.learnmore:visited {
  color: #FFFFFF;
}

.home-banner A.learnmore:hover,
.home-banner A.learnmore:active {
  color: #139AD2;
}

.menu-holder {
  height: 82px;
}

.scrolling-menu {
  background: linear-gradient(90deg, #F8F8F8 50%, #0E8DC8 50%);
  position: relative;
}

.scrolling-menu.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}

.scrolling-menu .logo {
  width: 12.3%;
  padding-right: 2.6%;
  height: 82px;
}

.scrolling-menu .menu {
  width: 85.1%;
  height: 82px;
  line-height: 82px;
}

.scrolling-menu .menu UL LI,
.scrolling-menu .menu UL LI.incrisis {
  padding-left: 5.5%;
}

.scrolling-menu .menu UL LI:first-child {
  padding-left: 0;
}

.scrolling-menu .menu UL LI.incrisis {
  position: static;
  background: transparent;
}

.scrolling-menu .menu UL LI.incrisis A:link,
.scrolling-menu .menu UL LI.incrisis A:visited {
  left: 0;
  color: #052838;
}

.scrolling-menu .menu UL LI.incrisis A:hover,
.scrolling-menu .menu UL LI.incrisis A:active {
  color: #FFFFFF;
}

.scrolling-menu .menu UL LI A:link,
.scrolling-menu .menu UL LI A:visited {
  font-weight: bold;
  font-size: 14.5px;
}

.scrolling-menu .menu UL LI UL {
  top: 82px;
}

.home-mission {
  background: linear-gradient(90deg, #FFFFFF 50%, #F1F2F2 50%);
}

.home-mission .site-width {
  background: linear-gradient(90deg, #FFFFFF 56.2%, #F1F2F2 43.8%);
  padding: 4em 0;
}

.home-mission .home-mission-left {
  float: left;
  width: 56.2%;
  box-sizing: border-box;
  padding-right: 5.2%;
  text-align: right;
  font-size: 22px;
  line-height: 1.8em;
}

.home-mission .home-mission-right {
  float: right;
  width: 43.8%;
  box-sizing: border-box;
  padding: 2em 0 0 7.9%;
}

.home-mission .home-mission-left H1 {
  margin: 0 0 0.75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 1em;
  color: #112C37;
}

.home-mission .home-mission-left STRONG {
  color: #139AD2;
}

.home-mission .home-mission-left A.learnmore:link,
.home-mission .home-mission-left A.learnmore:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #112C37;
}

.home-mission .home-mission-left A.learnmore:after,
.home-mission .home-mission-left A.learnmore:hover,
.home-mission .home-mission-left A.learnmore:active {
  color: #139AD2;
}

.home-mission .home-mission-right UL {
  margin-top: 2em;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
  font-size: 22px;
}

.home-mission .home-mission-right LI {
  padding-bottom: 1em;
}

.home-mission .home-mission-right LI:before {
  font-family: FontAwesome;
  content: '\f10c';
  font-size: 0.4em;
  font-weight: bold;
  position: relative;
  top: -0.5em;
  left: -2em;
  color: #139AD2;
  margin-right: -0.8em;
}

.home-mission .home-mission-right A.button:link,
.home-mission .home-mission-right A.button:visited {
  background: #112C37;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.home-mission .home-mission-right A.button:hover,
.home-mission .home-mission-right A.button:active {
  background: #139AD2;
}

.home-projects {
  background: url(../images/home-projects.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.8em;
  padding: 4em 0;
}

.home-projects H1 {
  margin: 0 0 0.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 85px;
  line-height: 1em;
}

.home-projects A.button:link,
.home-projects A.button:visited {
  background: #112C37;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  letter-spacing: normal;
  padding: 0.6em 1.2em;
  margin: 3em 2em 0 0;
}

.home-projects A.button:hover,
.home-projects A.button:active {
  background: #FFFFFF;
  color: #112C37;
}

.home-projects A.watchvideo:link,
.home-projects A.watchvideo:visited {
  color: #FFFFFF;
}

.home-projects A.watchvideo:hover,
.home-projects A.watchvideo:active {
  color: #112C37;
}

.home-event {
  position: relative;
}

.home-event-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 54.5%;
  background: url(../images/home-event.jpg) no-repeat center right;
  background-size: cover;
}

.home-event .site-width {
  position: relative;
  z-index: 2;
}

.home-event-left {
  float: left;
  width: 56.2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.home-event-left A:link,
.home-event-left A:visited {
  font-size: 87px;
  line-height: 1em;
  color: rgba(255,255,255,0.9);
  border: 22px solid #FFFFFF;
  border-color: rgba(255,255,255,0.75);
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.25em;
}

.home-event-left A .fa {
  position: relative;
  left: 0.1em;
}

.home-event-left A:hover,
.home-event-left A:active {
  color: rgba(14,141,200,0.9);
  border-color: rgba(14,141,200,0.75);
}

.home-event-right {
  float: right;
  width: 43.8%;
  box-sizing: border-box;
  padding: 3em 0 2.5em 4.4%;
  background: #FFFFFF;
  line-height: 1.8em;
}

.home-event-right IMG {
  max-width: 100%;
  height: auto;
}

.home-event-right H3,
.home-event-right H4 {
  margin: 0 0 0.25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1em;
  color: #112C37;
}

.home-event-right H4 {
  font-weight: bold;
  font-size: 24px;
}

.home-event-right A.button:link,
.home-event-right A.button:visited {
  background: #6B4099;
  font-size: 17px;
  text-decoration: none;
  padding: 0.8em 1.2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 2em;
}

.home-event-right A.button:hover,
.home-event-right A.button:active {
  background: #112C37;
}

.home-event-right A.more:link,
.home-event-right A.more:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 1em;
  color: #112C37;
  text-decoration: none;
}

.home-event-right A.more:hover,
.home-event-right A.more:active {
  color: #6B4099;
}

.home-foundation {
  background: url(../images/home-foundation.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 18px;
  position: relative;
}

.home-foundation .hf-image {
  position: absolute;
  bottom: 11%;
  left: 38%;
  transform: translateX(-50%);
  max-width: 309px;
  height: auto;
}

.home-foundation .hf-image-static { display: none; }

.home-foundation .site-width {
  padding: 4em 0;
}

.home-foundation-left {
  float: left;
  width: 45%;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 1.1em;
  color: #139AD2;
}

.home-foundation-right {
  float: right;
  width: 48.5%;
  font-size: 22px;
  line-height: 2em;
  color: #FFFFFF;
}

.home-foundation-right A.button:link,
.home-foundation-right A.button:visited {
  background: #FFFFFF;
  color: #4FC3F1;
  font-size: 16px;
  padding: 0.9em 1.2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  letter-spacing: 0.1em;
}

.home-foundation-right A.button:hover,
.home-foundation-right A.button:active {
  background: #4FC3F1;
  color: #FFFFFF;
}

.footer-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 100%;
}

.footer-arrow-mask {
  height: 100%;
  background: #112C37;
  -webkit-clip-path: polygon(calc(38% - 18px) 0, 38% 100%, calc(38% + 18px) 0);
  clip-path: polygon(calc(38% - 18px) 0, 38% 100%, calc(38% + 18px) 0);
}

.home-foundation .footer-arrow-mask {
  background: url(../images/home-foundation.jpg) no-repeat center bottom;
}

.footer-call {
  background: #112C37;
  color: #F1F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.7em;
  text-align: center;
  padding: 2em 0 calc(2.5em + 18px);
  position: relative;
}

.footer-call A {
  color: #0E8DC8;
  text-decoration: none;
}

.footer-arrow,
.footer-join {
  background: #0B7BC0;
}

.footer-join .site-width {
  text-align: center;
  font-size: 17px;
  line-height: 1em;
  color: #FFFFFF;
  padding: 1.5em 0 2.3em;
}

.footer-join.noarrow .site-width {
  padding: 2.3em 0;
}

.footer-join .site-width H2 {
  margin: 0 0 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 55px;
  line-height: 1em;
}

.footer-join .site-width A:link,
.footer-join .site-width A:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-join .site-width A:hover,
.footer-join .site-width A:active {
  color: #112C37;
}

.kf-footer {
  padding: 3em 0;
  text-align: center;
}

.social A:link,
.social A:visited {
  display: inline-block;
  width: 53px;
  height: 53px;
  box-sizing: border-box;
  border: 5px solid #112C37;
  border-radius: 50%;
  color: #112C37;
  position: relative;
  margin: 0 0.5em;
}

.social A:hover,
.social A:active {
  border: 5px solid #0E8DC8;
  color: #0E8DC8;
}

.social A .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 31px;
}

.footer-menu {
  padding: 2.5em 0;
}

.footer-menu A:link,
.footer-menu A:visited {
  margin: 0 4%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
  color: #25AAE1;
  text-decoration: none;
}

.footer-menu A:hover,
.footer-menu A:active {
  color: #112C37;
}

.copyright {
  font-size: 10px;
}

.foundation-banner {
  background: url(../images/foundation-banner.jpg) center center no-repeat;
  background-size: cover;
  color: #EBEBEB;
  font-weight: bold;
  font-size: 31px;
  line-height: 1.8em;
  text-align: center;
  padding: 5em 0;
}

.foundation-menu {
  padding: 1.5em 0;
  text-align: center;
  border-bottom: 1px solid #959595;
}

.foundation-menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.foundation-menu UL LI {
  display: inline-block;
  margin: 0 3%;
}

.foundation-menu UL LI A:link,
.foundation-menu UL LI A:visited {
  color: #112C37;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 15.5px;
  line-height: 1em;
  text-decoration: none;
}

.foundation-menu UL LI A:hover,
.foundation-menu UL LI A:active {
  color: #0E8DC8;
}

#foundation {
  padding: 5em 0;
  background: url(../images/foundation-background.png) center top no-repeat;
}

.foundation-left {
  float: left;
  width: 45%;
  color: #0E8DC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 61px;
  line-height: 1.2em;
}

.foundation-right {
  float: right;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3em;
  padding-top: 0.4em;
}

#charlies-story {
  background: url(../images/foundation-background-charlie.jpg) center center no-repeat;
  background-size: cover;
  color: #EBEBEB;
  font-size: 15px;
  padding: 6em 0;
  margin-top: 6em;
}

#charlies-story .left {
  float: left;
  width: 45%;
  position: relative;
  font-size: 72px;
  min-height: 2.65em;
}

#charlies-story .left IMG {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

#charlies-story .right {
  float: right;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.2em;
}

#charlies-story STRONG {
  color: #0E8DC8;
  font-size: 20px;
  line-height: 1.4em;
}

#faq {
  padding: 5.5em 0;
  background: url(../images/foundation-background-faq.png) center top no-repeat;
}

#faq .left {
  float: left;
  width: 41%;
  color: #0E8DC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 61px;
  line-height: 1.2em;
}

#faq .right {
  float: right;
  width: 53%;
  font-size: 22px;
  line-height: 1.8em;
  padding-top: 0.2em;
}

#faq STRONG.q {
  color: #112C37;
}

#board-leadership {
  padding: 5em 0;
  background: #112C37 url(../images/foundation-background-board-leadership.png) center top no-repeat;
  color: #EBEBEB;
  line-height: 1.6em;
}

#board-leadership .left {
  float: left;
  width: 40%;
}

#board-leadership .right {
  float: right;
  width: 56%;
  font-size: 12px;
  line-height: 2em;
  padding-top: 0.8em;
}

#board-leadership H3 {
  margin: 0 0 0.5em;
  color: #0E8DC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 61px;
  line-height: 1.2em;
}

#board-leadership H4 {
  margin: 0 ;
  color: #0E8DC8;
  font-weight: bold;
  display: inline;
}

#board-leadership A {
  color: #EBEBEB;
  text-decoration: none;
}

#grant-priorities {
  padding: 5em 0;
  background: #052838 url(../images/grant-background-priorities.png) calc(50% - 375px) top no-repeat;
  color: #F1F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.9em;
}

#grant-priorities H1 {
  margin: 0 0 0.5em;
  font-weight: 800;
  font-size: 64px;
  line-height: 1em;
}

#grant-priorities H2 {
  margin: 0 0 1em;
  font-weight: 800;
  font-size: 44px;
  line-height: 1.2em;
  color: #0E8DC8;
}

#grant-priorities .down {
  font-weight: 800;
  font-size: 16.75px;
  line-height: 1em;
  letter-spacing: 3px;
}

#grant-priorities .down .fa {
  font-size: 75%;
  position: relative;
  top: -0.1em;
}

#grant-priorities OL {
  list-style-type: none;
  counter-reset: item;
}

#grant-priorities OL LI {
  padding-bottom: 1.5em;
  position: relative;
}

#grant-priorities OL LI:before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: -1.4em;
  color: #0E8DC8;
  font-weight: 800;
}

#grant-guidelines {
  padding: 5em 0;
  background: url(../images/grant-background-guidelines.png) calc(50% - 375px) top no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.9em;
}

#grant-guidelines H1 {
  margin: 0 0 0.5em;
  color: #052838;
  font-weight: 800;
  font-size: 61px;
  line-height: 1em;
}

#grant-guidelines H2 {
  margin: 0 0 2em;
  font-weight: 800;
  font-size: 22px;
  line-height: 1em;
  color: #0E8DC8;
}

#grant-guidelines STRONG {
  font-weight: 800;
  color: #002F30;
}

#grant-guidelines .down {
  font-weight: 800;
  font-size: 16.75px;
  line-height: 1em;
  letter-spacing: 3px;
  color: #0E8DC8;
}

#grant-guidelines .down .fa {
  font-size: 75%;
  position: relative;
  top: -0.1em;
}

#grant-guidelines OL {
  list-style-type: none;
  counter-reset: item;
}

#grant-guidelines OL LI {
  padding-bottom: 1.5em;
  position: relative;
}

#grant-guidelines OL LI:before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: -1.4em;
  color: #0E8DC8;
  font-weight: 800;
}

#grant-guidelines OL LI .bluetext {
  padding: 1em 0 0 1em;
}

#grant-guidelines OL LI .bluetext A {
  text-decoration: none;
}

#grant-guidelines UL LI {
  list-style-type: none;
  position: relative;
  line-height: 1.4em;
  padding-bottom: 1.2em;
}

#grant-guidelines UL LI:before {
  position: absolute;
  left: -1.2em;
  content: '\25E6';
  color: #0E8DC8;
}

#grant-guidelines  .button {
  margin-top: 3em;
  font-size: 18px;
  letter-spacing: normal;
  padding: 0.7em 1.2em;
}

.projects-banner {
  height: 700px;
  background: url(../images/projects-banner.jpg) center center no-repeat;
  background-size: cover;
  color: #F1F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 23px;
  line-height: 1.8em;
  text-align: center;
  position: relative;
}

.projects-banner .site-width {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-banner .left {
  margin-top: 3em;
  float: left;
  width: 45%;
  text-align: right;
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 3px;
}

.projects-banner .left A.watchvideo:link,
.projects-banner .left A.watchvideo:visited {
  font-size: 24px;
  color: #F1F2F2;
}

.projects-banner .left A.watchvideo:hover,
.projects-banner .left A.watchvideo:active {
  color: #0E8DC8;
}

.projects-banner .left A.watchvideo:after {
  font-size: 95%;
  position: relative;
  top: -0.01em;
  color: #0E8DC8;
}

.projects-banner .right {
  margin-top: 3em;
  float: right;
  width: 45%;
  text-align: left;
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 3px;
}

.projects-banner .right .fa {
  font-size: 75%;
  position: relative;
  top: -0.1em;
  color: #0E8DC8;
}

.funding-current-header {
  padding: 1em 0;
  background: #F8F8F8;
  color: #19323C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 51px;
  line-height: 1.1em;
  text-align: center;
}

.funding-current-menu {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  padding: 2em 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  color: #B7B7B7;
}

.funding-current-menu .left {
  float: left;
  width: 33%;
}


.funding-current-menu .right {
  float: right;
  width: 66%;
  text-align: right;
}

.funding-current-menu .right .slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.funding-current-menu .right .slick-dots LI {
  display: inline-block;
  margin-left: 1em;
}

.funding-current-menu .right .slick-dots LI BUTTON {
  border: 0;
  padding: 0;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1em;
  color: #B7B7B7;
  outline: none;
  cursor: pointer;
}

.funding-current-menu .right .slick-dots LI BUTTON:hover,
.funding-current-menu .right .slick-dots LI.slick-active BUTTON {
  color: #0E8DC8;
}

.funding-current {
  padding: 4em 0;
}

.funding-current .slick-slider {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.funding-current .slick-slide {
  outline: none !important;
}

.funding-current H3 {
  margin: 0 0 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1em;
  color: #112C37;
}

.funding-current .content {
  color: #707070;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.6em;
}

.funding-current A {
  text-decoration: none;
}

.funding-header {
  padding: 4em 0;
  background: #112c37;
  color: #F1F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
}

.funding {
  padding: 4em 0;
}

.funding .left {
  float: left;
  width: 15%;
}

.funding .left H4 {
  margin: 0 2em 0.25em 0;
  text-align: right;
  color: #959595;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 12px;
}

.funding .controls {
  text-align: right;
  color: #139AD2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 2em;
}

.funding .controls LABEL {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-right: 1.5em;
}

.funding .controls INPUT[type=radio] {
  display: none;
}

.funding .controls LABEL:after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  right: 0;
  bottom: 0.5em;
  background: #CCCCCC;
  border-radius: 50%;
}

.funding .controls INPUT[type=radio]:checked + LABEL:after {
  background: #112C37;
  -webkit-box-shadow:inset 0px 0px 0px 3px #CCCCCC;
  -moz-box-shadow:inset 0px 0px 0px 3px #CCCCCC;
  box-shadow:inset 0px 0px 0px 3px #CCCCCC;
}

.funding .right {
  float: right;
  width: 80%;
}

.funding .right .mix {
  display: none;
}





@media only screen and (max-width: 1325px) {
  .menu UL LI { padding-left: 3.5%; }
  .menu UL LI.incrisis { position: static; }
}

@media only screen and (max-width: 1155px) {
  .kf-header {
    background: linear-gradient(90deg, #FFFFFF 50%, #0E8DC8 50%);
  }
  .menu UL LI { padding-left: 6%; }
  .menu UL LI.incrisis { display: none; }
  .scrolling-menu .menu UL LI.incrisis { display: inline-block; }
}

@media only screen and (max-width: 1024px) {
  .site-width { width: 96%; }

  .home-foundation-arrow-mask {
    background: url(../images/home-foundation.jpg) no-repeat center bottom;
    -webkit-clip-path: polygon(calc(32% - 18px) 0, 32% 100%, calc(32% + 18px) 0);
    clip-path: polygon(calc(32% - 18px) 0, 32% 100%, calc(32% + 18px) 0);
  }

  .home-foundation .hf-image {
    bottom: 8%;
    left: 32%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .menu UL LI {
    padding-left: 5%;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited {
    font-size: 15px;
  }

  .scrolling-menu .menu UL LI,
  .scrolling-menu .menu UL LI.incrisis {
    padding-left: 3.7%;
  }

  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    font-size: 12px;
  }

  .home-event-right A.button:link,
  .home-event-right A.button:visited {
    margin-right: 0;
  }

  .home-event-right A.more:link,
  .home-event-right A.more:visited {
    display: inline-block;
    margin-top: 1.5em;
  }

  .home-foundation-arrow-mask {
    background: url(../images/home-foundation.jpg) no-repeat center bottom;
    -webkit-clip-path: polygon(calc(25% - 18px) 0, 25% 100%, calc(25% + 18px) 0);
    clip-path: polygon(calc(25% - 18px) 0, 25% 100%, calc(25% + 18px) 0);
  }

  .home-foundation .hf-image {
    bottom: 11%;
    left: 25%;
  }

  .home-foundation-left {
    font-size: 45px;
  }

  .footer-menu A:link,
  .footer-menu A:visited {
    margin: 0 3.5%;
  }

  .foundation-left {
    font-size: 47px;
  }

  #charlies-story {
    margin-top: 0;
  }

  #charlies-story .right {
    font-size: 70px;
  }

  #faq .left {
    font-size: 45px;
  }

  #faq .right {
    padding-top: 0;
  }

  #board-leadership .right {
    padding-top: 0.4em;
  }

  #board-leadership H3 {
    font-size: 43px;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  .kf-header { background: linear-gradient(90deg, #FFFFFF 45%, #0E8DC8 45%); }
  .logo { width: 42%; }

  .scrolling-menu { background: linear-gradient(90deg, #F8F8F8 35%, #0E8DC8 35%); }
  .scrolling-menu .logo { width: 32%; }

  .kf-header .site-width { height: 105px; }
  .scrolling-menu .site-width { height: 82px; }

  #menu-toggle,
  #scrolling-menu-toggle {
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 200%;
    color: #FFFFFF;
    position: relative;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    float: right;
  }

  #menu-toggle:after,
  #scrolling-menu-toggle:after {
    font-family: "FontAwesome";
    content: "\f0c9";
  }
  
  #show-menu:checked + #menu-toggle:after,
  #scrolling-show-menu:checked + #scrolling-menu-toggle:after {
    color: #1E3E4A;
  }

  #show-menu:checked + #menu-toggle + .menu,
  #scrolling-show-menu:checked + #scrolling-menu-toggle + .menu {
    display: block;
  }

  .menu,
  .scrolling-menu .menu {
    display: none;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    line-height: 1em;
    text-align: center;
  }

  .scrolling-menu .menu { top: 82px; }

  .menu UL {
    background: rgba(14,141,200,0.9);
    padding: 1em 0;
  }

  .menu UL LI,
  .menu UL LI.incrisis,
  .menu UL LI UL LI,
  .menu UL LI UL LI:first-child,
  .scrolling-menu .menu UL LI,
  .scrolling-menu .menu UL LI.incrisis {
    display: block;
    padding: 0;
    background: transparent;
  }

  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited,
  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    display: block;
    font-weight: 800;
    font-size: 270%;
    line-height: 1em;
    padding: 0.4em 0;
    left: 0;
    color: #FFFFFF;
  }

  .menu UL LI.incrisis A:link,
  .menu UL LI.incrisis A:visited {
    color: #052838;
  }

  .menu UL LI A:hover,
  .menu UL LI A:active,
  .menu UL LI UL LI A:hover,
  .menu UL LI UL LI A:active,
  .scrolling-menu .menu UL LI A:hover,
  .scrolling-menu .menu UL LI A:active {
    color: #052838;
  }

  .menu UL LI.incrisis A:hover,
  .menu UL LI.incrisis A:active {
    color: #FFFFFF;
  }
  
  .menu UL LI UL {
    opacity: 1;
    display: none;
  }

  .menu UL LI:hover UL {
    display: block;
    position: static;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .home-banner .home-banner-slide .site-width H1 {
    font-size: 60px;
  }

  #grant-priorities,
  #grant-guidelines {
    background-position: center top;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .home-mission,
  .home-mission .site-width {
    background: #FFFFFF;
    padding: 0;
    width: 100%;
  }

  .home-mission .home-mission-left,
  .home-mission .home-mission-right {
    float: none;
    width: 100%;
    padding: 4em 3%;
    text-align: left;
  }

  .home-mission .home-mission-right {
    background: #F1F2F2;
  }

  .home-event-back {
    width: 100%;
    height: 300px;
  }

  .home-event-left {
    float: none;
    width: 100%;
    height: 300px;
    position: relative;
    transform: none;
  }

  .home-event-left A {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-event-right {
    float: none;
    width: 100%;
    padding: 3em 0;
  }

  .home-event-right A.button:link,
  .home-event-right A.button:visited {
    margin-right: 2em;
  }

  .home-foundation .home-foundation-left,
  .home-foundation .home-foundation-right {
    float: left;
    width: 100%;
    text-align: left;
  }

  .home-foundation .home-foundation-left {
    margin-bottom: 0.5em;
  }

  .home-foundation .hf-image { display: none; }
  .home-foundation .hf-image-static {
    display: block;
    float: left;
    max-width: 100%;
    height: auto;
  }

  .home-foundation-arrow-mask {
    -webkit-clip-path: polygon(calc(29% - 18px) 0, 29% 100%, calc(29% + 18px) 0);
    clip-path: polygon(calc(29% - 18px) 0, 29% 100%, calc(29% + 18px) 0);
  }

  .home-foundation .button {
    float: right;
    margin-top: 130px;
  }

  .footer-menu A:link,
  .footer-menu A:visited {
    margin: 0 2%;
  }
  
  .foundation-menu UL LI { margin: 0 2%; }
  .foundation-menu UL LI:first-child { margin-left: 0; }
  .foundation-menu UL LI:last-child { margin-right: 0; }

  .foundation-left,
  .foundation-right {
    float: none;
    width: 100%;
  }

  .foundation-left {
    font-size: 61px;
    padding-bottom: 0.5em;
  }

  #charlies-story .left {
    width: 33%;
    font-size: 65px;
    min-height: 2.5em;
  }

  #charlies-story .right {
    width: 60%;
    font-size: 65px;
  }

  #faq .left,
  #faq .right {
    float: none;
    width: 100%;
  }

  #faq .left {
    font-size: 61px;
    padding-bottom: 0.25em;
  }

  #board-leadership .left,
  #board-leadership .right {
    float: none;
    width: 100%;
  }

  #board-leadership .right {
    padding-top: 3em;
  }

  #board-leadership H3 {
    font-size: 61px;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .kf-header { background: linear-gradient(90deg, #FFFFFF 73%, #0E8DC8 27%); }
  .logo { width: 70%; }

  .scrolling-menu { background: linear-gradient(90deg, #F8F8F8 62%, #0E8DC8 38%); }
  .scrolling-menu .logo { width: 58%; }

  .home-banner .home-banner-slide .site-width H1 {
    font-size: 48px;
    margin: 0 0 1em;
  }

  .home-banner A.button {
    margin-right: 0;
  }

  .home-banner A.learnmore:link,
  .home-banner A.learnmore:visited {
    display: inline-block;
    margin-top: 1em;
  }

  .scrolling-menu.sticky {
    position: relative;
  }

  .home-mission .home-mission-left H1 {
    font-size: 68px;
  }

  .home-projects H1 {
    font-size: 62px;
  }

  .home-projects A.button:link,
  .home-projects A.button:visited {
    margin: 2em 0;
  }

  .home-projects A.watchvideo.swipebox {
    display: block;
  }

  .home-foundation-left {
    font-size: 45px;
  }

  .home-foundation .hf-image-static {
    float: none;
    margin: 2em auto 0;
  }

  .home-foundation-arrow-mask {
    -webkit-clip-path: polygon(calc(50% - 18px) 0, 50% 100%, calc(50% + 18px) 0);
    clip-path: polygon(calc(50% - 18px) 0, 50% 100%, calc(50% + 18px) 0);
  }

  .home-foundation .button {
    float: none;
    margin-top: 0;
  }

  .foundation-banner {
    padding: 3em 0;
  }

  .foundation-left {
    font-size: 50px;
  }

  #charlies-story .left,
  #charlies-story .right {
    float: none;
    width: 100%;
    font-size: 70px;
  }

  #charlies-story .left {
    min-height: 3em;
    margin-bottom: 0.5em;
  }

  #faq .left,
  #board-leadership H3 {
    font-size: 55px;
  }

  #grant-priorities H2 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .menu UL LI A:link,
  .menu UL LI A:visited,
  .menu UL LI UL LI A:link,
  .menu UL LI UL LI A:visited,
  .scrolling-menu .menu UL LI A:link,
  .scrolling-menu .menu UL LI A:visited {
    font-size: 220%;
  }

  .foundation-left {
    font-size: 42px;
  }

  #charlies-story .left,
  #charlies-story .right {
    font-size: 60px;
  }

  #faq .left,
  #board-leadership H3 {
    font-size: 46px;
  }

  #grant-priorities H1 {
    font-size: 54px;
  }

  #grant-priorities H2 {
    font-size: 35px;
  }

  #grant-guidelines H1 {
    font-size: 55px;
  }
}